body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f1dbdf;
    color: #333;
    transition: background-color 0.3s, color 0.3s;
    scroll-behavior: smooth; 
}

h1, h2 {
    text-align: center;
    color: #222;
}

p {
    text-align: center;
    max-width: 800px;
    margin: 10px auto;
}

section {
    background: white;
    margin: 20px auto;
    padding: 20px;
    width: 90%;
    max-width: 800px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#web-tech p {
    text-align: left;
}

#web-tech p strong, #web-tech p .underline {
    text-decoration: underline;
}

#profile img {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: left;
    transition: transform 0.3s ease-in-out; 
}

#profile img:hover {
    transform: scale(1.1);
    
    /*  additional feature used here is Slight zoom-in effect on hover */


}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

table, th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #333;
    color: white;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
}

progress {
    width: 70%;
    height: 10px;
    border-radius: 5px;
}

button {
    display: block;
    margin: 10px auto;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #555;
}

.dark-mode {
    background-color: #222;
    color: white;
}

.dark-mode section {
    background-color: #333;
    color: white;
}

.dark-mode th {
    background-color: #555;
}
